.form_input_group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

.form_input_div{
    margin-bottom: 30px;
    background: transparent;
}

.form_control{
    border: 1px solid white;
    color: "";
    width: 100%;
    padding: 12px 24px;
    border-radius: 30px;
    transition: all 0.3s ease;
    background: transparent;
}

.form_control:focus{
    border-color: bisque;
}

.textarea{
    resize: none;
    height: 160px;
}

.contact_button_icon{
    font-size: 20px;
    line-height: 60px;
}

button, textarea{
background-color: transparent;
border: none;
outline: none;
}

.contact_form{
    display: flex;
    flex-direction: column;
}